header {
  background: #24292e;
  color: white;
  display: block;
  padding-top: 18px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

img {
  height: 35px;
}

main.main {
  height: 100vh;
}

nav {
  width: 57%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-weight: bold;
  font-size: 23px;
  display: block;
  margin-left: 30%;
}

nav div {
  display: flex;
  align-items: center;
}

button {
  font-weight: bold;
}

input {
  background: white;
  color: #757575;
}

button:hover {
  cursor: pointer;
}

i {
  color: #6a737d;
  margin-right: 5px;
}

footer {
  padding-top: 43px;
  padding-bottom: 43px;
  display: flex;
  border-top: 1px solid #eaecef;
  color: #586069;
  font-size: 13px;
  width: 57%;
  margin: 0 auto;
  margin-top: 55px;
}

footer img {
  height: 24px;
}

footer nav {
  display: flex;
  width: 31%;
}

header button:hover {
  text-decoration: underline;
}

@media all and (max-width: 1800px) {
  div.profile-main {
    width: 90%;
    justify-content: center;
  }

  header nav {
    width: 90%;
  }
}

@media all and (max-width: 1500px) {
  div.profile-main {
    width: 90%;
  }

  header nav {
    width: 90%;
  }
}

@media all and (max-width: 1300px) {
  main.landing {
    width: 90%;
    margin: 0 auto;
  }

  header nav {
    width: 90%;
  }

  div.profile-main {
    justify-content: start;
  }
}

@media all and (max-width: 1150px) {
  div.repos-row {
    display: block;
  }
}

@media all and (max-width: 1100px) {
  main.landing {
    display: block;
    padding-top: 70px;
  }

  main.landing div.login {
    width: 360px;
    margin: 0 auto;
    margin-top: 50px;
  }


}

@media all and (max-width: 500px) {
  main.landing h1 {
    font-size: 60px;
  }

  main.landing div.login {  width: 57%;
    margin: 0 auto;
    max-width: 300px;
  }


  main.landing div.login input {
    width: auto;
  }

  main.landing div.login button {
    width: auto;
  }
}

label {
  width: 100%;
}

div.errors {
  position: absolute;
  top: -31px;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin-right: 15px;
}

textarea {
  display: block;
  font-size: 14px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(225, 228, 232);
  height: 100px;
  padding: 15px;
  box-sizing: border-box;
}

img.avatar-small {
  height: 45px;
}
