div.profile-main, div.repo-show-main {
  width: 57%;
  margin: 0 auto;
  background: white;
}

div.profile-main {
  display: flex;
  margin-top: 26px;
}

section.profile-sidebar {
  margin-right: 25px;
  width: 230px;
}

img.avatar {
  height: 230px;
  width: 230px;
  border-radius: 6px;
}

section.profile-sidebar h2 {
  font-size: 26px;
  margin-top: 12px;
  font-weight: bold;
}

section.profile-sidebar h3 {
  font-size: 20px;
  color: #666;
}

section.profile-sidebar p {
  color: #6a737d;
  line-height: 21px;
  display: block;
  margin-bottom: 14px;
}

section.profile-sidebar span {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #eaecef;
  border-bottom: 1px solid #eaecef;
}

div.repos h2, div.issue-header {
  color: #24292e;
  display: block;
  border-bottom: 2px solid rgb(209, 213, 218);
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  margin-bottom: 20px;
}

div.repos h2 {
  padding-left: 21px;
}

div.repos-row {
  display: flex;
}

div.repo-thumb {
  width: 405px;
  border: 1px solid rgb(209, 213, 218);
  padding: 20px 17px;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: 3px;
  color: #586069;
  box-sizing: border-box;
}

div.repos-row div.repo-thumb:last-child {
  margin-right: 0;
}

div.repo-thumb h1 {
  color: #0366d6;
  font-weight: bold;
  font-size: 15px;
}

p.repo-thumb.description, span.repo-thumb.language {
  font-size: 13px;
}

span.repo-thumb.language, span.language {
  margin-right: 20px;
}

i.fa-star {
  color: rgb(88, 96, 105);
}
