main.landing {
  display: flex;
  color: white;
  padding: 155px 0;
  width: 57%;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

main.landing div {
  box-sizing: border-box;
}

main.landing div.login {
  position: relative;
  min-width: 384px;
  margin-left: 10%;
}

main.landing h1 {
  font-size: 80px;
  display: block;
}

main.landing p {
  color: rgba(255,255,255,0.6);
  font-size: 25px;
  line-height: 40px;
}

main.landing-container {
  background: #24292e;
  min-height: 100vh;
}

input, button.login {
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

main.landing input {
  padding: 15px 20px;
  border-radius: 7px;
}

button.login {
  padding: 15px 20px;
  border-radius: 7px;
}


button.login {
  font-size: 20px;
}

div.login input {
  margin-bottom: 25px;
}

button.login:hover {
  background: #bc5612;
  transition: 0.3s;
}

button.login {
  background: #d25a08;
  text-align: center;
  font-weight: bold;
}

main.landing a {
  text-decoration: underline;
  transition: 0.3s;
}

main.landing-container a:hover {
  color: rgba(255,255,255,0.6);
  transition: 0.3s;
}
